#root {
  height: 100vh;
}

h1 {
  text-align: center;
  color: #04284b;
  font: bold 65px "Brush Script MT", cursive;
}

table {
  margin: 0 auto;
  background: #04284b;
}

.button {
  border: 1px solid #04284b;
  color: #04284b;
  height: 38px;
  width: 180px;
  border-radius: 50px;
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
  font: 26px "Brush Script MT", cursive;
}

.tile {
  height: 80px;
  width: 80px;
  background-color: #0d5aa8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.top {
  height: 83px;
  width: 83px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.tile2 {

  height: 80px;
  width: 80px;
  background-color: #73b8fd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.currenttile {
  height: 80px;
  width: 80px;
  background-color: #0d5aa8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.open {
  background-color: #ffffff;
}
.trap {
  background-color: #04284b;
}
.freeze {
  background-color: #94c0ec;
}

.circle {
  border-radius: 100px;
  height: 65px;
  width: 65px;
}

.player1 {
  background-color: #a80d50;
  transition: background-color 0.25s;
}

.player2 {
  background-color: #c5bc15;
  transition: background-color 0.25s;
}

.text {
  display: flex;
  justify-content: center;
  font: bold 32px "Brush Script MT", cursive;
}
