#app-root {
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
  color: #04284b;
  margin: 0.72em;
  font: bold 65px "Squada One", cursive;
}

table {
  margin: 0 auto;
  background: #04284b;
}

#selector-table {
  margin: 0 auto;
  background: transparent;
}

.button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.button {
  border: 1px solid #04284b;
  color: #04284b;
  height: 33px;
  width: 160px;
  border-radius: 50px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
  font: 26px "Squada One", cursive;
  padding: 1px;
}

.button:first-child {
  margin-right: 18px;
}

.button:last-child {
  margin-left: 18px;
}

.tile {
  height: 80px;
  width: 80px;
  background-color: #0d5aa8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.selector-tile {
  height: 80px;
  width: 80px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tile-hover {
  height: 80px;
  width: 80px;
  background-color: #7bc1ef;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.open {
  background-color: #ffffff;
}

.selector-open {
  background-color: transparent;
}

.trap {
  background-image: url("./img/question.png");
  background-size: contain;
}

.freeze {
  background-color: #94c0ec;
}

.circle {
  border-radius: 100px;
  height: 65px;
  width: 65px;
}

.player1 {
  background-color: #a80d50;
  transition: background-color 0.25s;
}

.player2 {
  background-color: #c5bc15;
  transition: background-color 0.25s;
}
.playerGreen {
  background-color: green;
  transition: background-color 0.25s;
}
.playerGrey {
  background-color: grey;
  transition: background-color 0.25s;
}
.playerPurple {
  background-color: magenta;
  transition: background-color 0.25s;
}
.playerBrown {
  background-color: rgb(105, 31, 31);
  transition: background-color 0.25s;
}

.text {
  display: flex;
  justify-content: center;
  font: 35px "Squada One", cursive;
}

#popup-button {
  position: absolute;
  top: 15%;
  left: 120px;
  color: #04284b;
  font: 24px "Squada One", cursive;
  width: 300px;
  height: 35px;
}

.popup {
  position: absolute;
  top: 22%;
  left: 120px;
  background-color: transparent;
  font: 24px "Squada One", cursive;
}

#Red-Stats {
  color: #a80d50;
  font: 30px "Squada One", cursive;
}

#Yellow-Stats {
  color: #c5bc15;
  font: 30px "Squada One", cursive;
}
#Green-Stats {
  color: green;
  font: 30px "Squada One", cursive;
}
#Grey-Stats {
  color: grey;
  font: 30px "Squada One", cursive;
}
#Purple-Stats {
  color: magenta;
  font: 30px "Squada One", cursive;
}
#Brown-Stats {
  color: rgb(105, 31, 31);
  font: 30px "Squada One", cursive;
}
/*CSS for help menu at top right*/
.help-container {
  width: 500px;
  height: 950px;
  /* background: #eee; */
  position: absolute;
  top: 20px;
  left: 65%;
  border-radius: 30px;
}

.btn-help {
  width: 60px;
  height: 60px;
  background: linear-gradient(lightgrey, rgb(75, 6, 66));
  border-radius: 30px;
  border: 2px solid white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 8px 14px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 1;
}

.help-title {
  /*width: 470px;*/
  width: 0;
  height: 60px;
  background: linear-gradient(lightgrey, rgb(75, 6, 66));
  position: absolute;
  top: 0;
  left: 0px;
  border-radius: 30px 0 0 0;
}

.help-title h2 {
  margin: 0;
  padding: 0;
  color: white;
  padding: 12px 35px;
  display: none;
}

.help-body {
  width: 470px;
  /*height: 570px; */
  height: 0;
  background: grey;
  position: absolute;
  top: 60px;
  left: 0px;
  text-align: justify;
  border-radius: 0 0 30px 30px;
  z-index:2;
}

.help-body p {
  margin: 0;
  padding: 0;
  color: white;
  padding: 12px 35px;
  display: none;
  
}

.help-pic {
  border-radius: 10px;
}
/*CSS for color changing menu*/
.color-container {
  width: 500px;
  height: 300px;
  /* background: #eee; */
  position: absolute;
  top: 80px;
  left: 65%;
  border-radius: 30px;
}
.btn-color {
  width: 60px;
  height: 60px;
  background: linear-gradient(
    to right,
    rgba(255, 0, 0),
    orange,
    yellow,
    green,
    blue,
    indigo,
    rgba(238, 130, 238)
  );
  border-radius: 30px;
  border: 2px solid black;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 0, 0);
  padding: 8px 14px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 1;
}
.color-title {
  /*width: 570px;*/
  width: 0;
  height: 60px;
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.5),
    orange,
    yellow,
    green,
    blue,
    indigo,
    rgba(238, 130, 238, 1)
  );
  position: absolute;
  top: 0;
  left: 0px;
  border-radius: 30px 0 0 0;
}
#p1Colors,
#p2Colors {
  margin: 0;
  padding: 0;

  padding: 0px 35px;
  display: none;
}

.color-title h2 {
  margin: 0;
  padding: 0;
  color: rgb(58, 56, 56);
  padding: 12px 35px;
  display: none;
}

.color-body {
  width: 470px;
  /*height: 330px; */
  height: 0;
  background: lightskyblue;
  position: absolute;
  top: 60px;
  left: 0px;
  text-align: justify;
 
  border-radius: 0 0 30px 30px;
}

/*CSS for color buttons*/
.colored-btn {
  border: none;
  height: 50px;
  width: 50px;
  padding: 10px;
border-radius:50%;
  display: inline-block;

  margin: 2px 7px;
}
#Red1,#Red2{
  background-color: #a80d50;
}
#Yellow1,#Yellow2{
  background-color: #c5bc15;
}
#Green1,#Green2{
  background-color: green;
}
#Grey1,#Grey2{
  background-color: grey;
}
#Magenta1,#Magenta2{
  background-color: magenta;
}
#Brown1,#Brown2{
  background-color: rgb(105, 31, 31);
}

/*CSS for toggle notification data*/
.NotifyContent {
  position: absolute;
  top: 60%; /* Adjust the vertical position */
  left: 50%; /* Adjust the horizontal position */
  transform: translate(-50%, -50%);
  z-index: 9999; /* Ensure it overlaps other elements */
}

#Notify_Text {
  font-family: "Squada One";
  font-weight: bold;
  font-size: 55px;
  margin-top: 10px;
  color: #04284b;
  text-align: center;
  border: 2px solid #04284b;
  padding: 10px;
  background: rgba(143, 197, 233, 0.2);
}
