#app-root {
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
  color: #04284b;
  margin: 0.72em;
  font: bold 65px "Squada One", cursive;
}

table {
  margin: 0 auto;
  background: #04284b;
}

#selector-table {
  margin: 0 auto;
  background: transparent;
}

.button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.button {
  border: 1px solid #04284b;
  color: #04284b;
  height: 33px;
  width: 160px;
  border-radius: 50px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
  font: 26px "Squada One", cursive;
  padding: 1px;
}

.button:first-child {
  margin-right: 18px;
}

.button:last-child {
  margin-left: 18px;
}

.tile {
  height: 80px;
  width: 80px;
  background-color: #0d5aa8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.selector-tile {
  height: 80px;
  width: 80px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tile-hover {
  height: 80px;
  width: 80px;
  background-color: #7bc1ef;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.open {
  background-color: #ffffff;
}

.selector-open {
  background-color: transparent;
}

.trap {
  background-image: url("./img/question.png");
  background-size: contain;
}
.freeze {
  background-color: #94c0ec;
}

.circle {
  border-radius: 100px;
  height: 65px;
  width: 65px;
}

.player1 {
  background-color: #a80d50;
  transition: background-color 0.25s;
}

.player2 {
  background-color: #c5bc15;
  transition: background-color 0.25s;
}

.text {
  display: flex;
  justify-content: center;
  font: 35px "Squada One", cursive;
}

#popup-button {
  position: absolute;
  top: 15%;
  left: 120px;
  color: #04284b;
  font: 24px "Squada One", cursive;
  width: 300px;
  height: 35px;
}

.popup {
  position: absolute;
  top: 22%;
  left: 120px;
  background-color: transparent;
  font: 24px "Squada One", cursive;
}

#Red-Stats {
  color: #a80d50;
  font: 30px "Squada One", cursive;
}

#Yellow-Stats {
  color: #c5bc15;
  font: 30px "Squada One", cursive;
}

.help-container {
  width: 500px;
  height: 950px;
  /* background: #eee; */
  position: absolute;
  top: 20px;
  left: 65%;
  border-radius: 30px;

}

.btn-help {
  width: 60px;
  height: 60px;
  background: linear-gradient(lightgrey, rgb(75, 6, 66));
  border-radius: 30px;
  border: 2px solid white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 8px 14px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index:1;
}

.help-title{
  /*width: 470px;*/
  width:0;
  height:60px;
  background: linear-gradient(lightgrey, rgb(75, 6, 66));
  position: absolute;
  top: 0;
  left: 0px;
  border-radius: 30px 0 0 0;
}
.help-title h2{
  margin:0;
  padding:0;
  color: white;
  padding: 12px 35px;
  display: none; 

}
.help-body{
  width: 470px;
   /*height: 570px; */
  height: 0;
  background: grey;
  position: absolute;
  top:60px;
  left:0px;
  text-align: justify;
  border-radius: 0 0 30px 30px;
}
.help-body p{
  margin:0;
  padding:0;
  color: white;
  padding: 12px 35px;
  display: none;

}
.help-pic{
  border-radius: 10px;
}