html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url("./img/bg2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120%;
}
